.comment {
  width: 700px;
  max-width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 3px solid #23272a;

  margin-bottom: 1rem;
  background-color: #f0f0ff;
}


.profilelink{
align-items: center;
  display: flex;
  color: #23272a;
  text-decoration: none
}

.profilelink p{
  margin-inline-start: .7rem;
  font-size: .9rem;
}
.comment_header {
  font-size: 1.2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  display: flex;
  font-weight: bold;
}
.comment_header p {
  text-decoration: none;
}

.comment_content {
  font-size: .8rem;
  width: 90%;
  margin: auto;
  border-top: 1px solid black;
  display: flex;
  
  flex-direction: column;
}

.comment_content h2{
    margin-bottom: -.4rem;
}

.p{
    margin-bottom: -.6rem;
}

