.form {
  width: 98%;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  text-align: start;
  margin-block-start: 1rem;
  margin-block-end: 3rem;
}

.comment_content {
  width: 90%;
  height: 5rem;
  resize: none;
  font-family: "Poppins", sans-serif;
  border: none;
}

.comment_content:focus{
  outline: none;
}


.comment_content::placeholder {
  font-family: "Poppins", sans-serif;
}

.form button {
  align-self: flex-end;
  border: 3px solid black;
  background-color: white;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  transition: color 0.3s, background-color 0.3s;
  padding: 0.5rem;
}

.form button:hover {
  background-color:  #212C6C;
  color: white;
}
