.header{
    display: flex;
    justify-content: space-around;
    justify-self: center;
    width: 700px;
    max-width: 98%;
    margin: auto;
    align-items: center;
    padding-block-start: 1.4rem;
    border: 3px solid #7F00E0;
    position: sticky;
    top: 0;
    background-color: #F4F9FC ;

}

.person_details img{
    width: 70px;
    border: 2px solid black;
}

.create_post{
    font-size: .98rem
}

.link{
    text-decoration: none;
    color: #0F1B61;
    transition: opacity .4s;
}

.link:hover{
   opacity: .9;
}

