.app_header{
    width: 98%;
    max-width: 800px;
    margin: auto;
}

.app_header img{
    width: 125px;
    height: 53  px;
}

.header {
  width: 98%;
  max-width: 800px;
  margin: auto;
}

.postlist {
  width: 98%;
  max-width: 800px;
  margin: auto;
}
