.login_form {
  width: 700px;
  border: 3px solid #0f1b61;
  max-width: 98%;
  margin: auto;
}

.form{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.username, .password{
  display: flex;
  flex-direction: column;
  margin-block-end: 1rem;
}