.registration_form {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  height: 90%;
}

.dp_form{
  width: 40%;
  margin: auto;
}

.details_form{
  width: 60%;
  margin: auto;
}