.sidebar{
  width: 700px;
  max-width: 98%;
  margin: auto;
  display: flex;
  margin-block-end: 2rem;
  justify-content: space-around;
}

.link{
  font-size: 1.3rem;
  text-decoration: none;
  transition: color .3s;
  font-weight: bold;
}

.link:hover{
  color:  #23272a;
}

.button{
  background-color: transparent;
  border: 3px solid black;
  border-radius: 5px;
}

