@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

.App {
  text-align: center;

  font-family: "Poppins", sans-serif;
  width: 100%;
}

html {
  font-size: clamp(14px, 1.3vw, 24px);
  margin: 0;
  padding: 0;
  background-color: #f4f9fc;
}
